
.vs/
out/Win32/Debug
Prj-Android/app/.externalNativeBuild/ndkBuild/debug/
Prj-Android/app/.externalNativeBuild/ndkBuild/release/

Prj-Win/out/Win32/Debug/
WebSocketServerGo/MonsterShowWS/MonsterShowWS.debug
WebSocketServerGo/MonsterShowWS/MonsterShowWS.debug.exe
WebSocketServerGo/MonsterShowWS/bin/
WebSocketServerGo/MonsterShowWS/src/MonsterShowWS/MonsterShowWS.debug.exe
WebSocketServerGo/MonsterShowWS/pkg/windows_amd64/Pic98/Handler.a
WebSocketServerGo/MonsterShowWS/src/MonsterShowWS/MonsterShowWS.exe
WebSocketServerGo/MonsterShowMain/MonsterShowMain.debug.exe
h5ui/mainpage/node_modules

WebSocketServerGo/MonsterShowMain/ungit/mssql.dat
WebSocketServerGo/MonsterShowMain/conf/mssql.dat
WebSocketServerGo/MonsterShowMain/MonsterShowMain.exe
h5ui/mainpage/unpackage/
WebSocketServerGo/MonsterShowMain/tokens/
WebSocketServerGo/MonsterShowMain/MonsterShowMain.debug
Prj-Android/app/debug/
Prj-Android/app/release/
third_party/openh264/src/test/build/win32/codec_ut/Codec_UT.sln
out/Win32/Release/
MediaEnc/MediaEnc/Debug/
MediaEnc/MediaEnc/temp/
MediaEnc/Debug/
Prj-Win/out/

