
.h300{
	height:300;
}

.icon30{
	height:30;
}

.wrap-box {   
  display: -webkit-box;   
}   
    
.flex-inner {   
    -webkit-box-flex: 1;   
    display: -webkit-box;   
}   
    
.flex-item {   
    -webkit-box-flex: 1;   
    position: relative;   
}   
.wrap-6 {   
      -webkit-box-orient: horizontal;   
}  
.wrap-6 .flex-inner2 {   
      -webkit-box-flex: 0;   
      -webkit-box-orient: vertical;   
}   
.wrap-6 .flex-inner2:first-child {   
      width: 49.9%;   
}   
.wrap-6 .flex-inner2:last-child {   
      width: 49.9%;   
}   
 
.wrap-6 .flex-inner {   
      -webkit-box-flex: 0;   
      -webkit-box-orient: vertical;   
}   
.wrap-6 .flex-inner:first-child {   
      width: 66.6%;   
}   
.wrap-6 .flex-inner:last-child {   
      width: 33.3%;   
}   
.wrap-6 .flex-item {   
        
}   
.wrap-6 .flex-box2 .flex-item {   
        
}   
.wrap-6 .flex-box2 {   
      display: -webkit-box;   
      -webkit-box-orient: horizontal;   
}   
.wrap-6 .flex-inner:first-child,   
.wrap-6 .flex-box2 .flex-item:first-child {   
      margin-right: 1px;   
}   
.wrap-6 .flex-box1,   
.wrap-6 .flex-inner:last-child .flex-item:first-child,   
.wrap-6 .flex-inner:last-child .flex-item:nth-child(2) {   
      margin-bottom: 1px;   
}

.nav_hidden {
	display: none;
}

 .demo {
      background: #666666;
      font: bold 55px/100% "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;;
      text-transform: uppercase;
	font-size:30pt;
  }

.demo7 {
  color: transparent;
  text-shadow:0 0 6px #F96, -1px -1px  #FFF, 1px -1px  #444;
}

.text_red{
	font-size:26pt;
	color:red;
}

.margin_top30{
	margin-top:30;
}

.imgauto{
	margin-top:0px;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;		
}

.padding3{
	padding:3px;
	text-align:center
}

.f16{
	font-size:20pt;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}


 .box-cc {
 display：inline-block; 
 -webkit-column-break-inside：avoid; 
 -moz-column-break-inside：avoid; 
 column-break-inside：avoid; 
 padding：1px; 
 width：100％; 
} 

.arrow-right{
        margin-left:5px;
        display:flex;
        display:-webkit-flex;
        align-items:center;
    }
	
    .arrow-right img{

 
    }


        #lrcontainer {
        	margin-top:12px;
        }

        #lrwrapper {
            display: inline-block;
            border-left: 200px solid white;
            position: relative;
            vertical-align: bottom;
        }
        
        #lrsidebar {
            float: left;
            width: 200px;
            margin-left: -200px;
            position: relative;            
        }
        
        #lrmain {
            float: left;
        }    

        #lrmain,
        #lrsidebar{
            min-height: 200px;
            height: auto !important;
            height: 200px;
        }
		
.topic_container{
	text-align:center;
	padding:8px;
}

.topic_container img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}